<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class=" d-flex flex-row justify-content-between align-items-center mb-4">
        <div class="col-md-3">
            <div class="card shadow-sm">
            <div class="card-body text-center">
                <img id="avatarPreview" src="{{ user_avatar }}" alt="Avatar" style="width: 150px; height: 150px; border-radius: 50%;">
                <p>{{ user_first_name }} {{user_last_name}}</p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>