{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ user_first_name }}</title>
{% endblock title %}


{% block content %}
    <div class="flex flex-row justify-between items-center mb-2">
        <div class="rounded-xl bg-white p-10 shadow-lg flex flex-col items-center justify-center">
            <div class="shadow-sm w-full text-center">
                <div class="mb-4">
                    <img id="avatarPreview" src="{{ user_avatar }}" alt="Avatar" class="w-[150px] h-[150px] rounded-full mx-auto">
                </div>
                <h1 class="text-xl font-semibold">{{ user_first_name }} {{ user_last_name }}</h1>
                <p class="text-gray-500 text-sm">@{{ username }}</p>
            </div>
            <div class="mt-4 flex flex-col space-y-2 w-full items-center">
                <a href="/add-friend/${user.id}/"
                   class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1.5 px-4 rounded transition-colors duration-200 text-sm">
                    Add Friend
                </a>
                <a href="/chat/${user.id}/"
                   class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1.5 px-4 rounded transition-colors duration-200 text-sm">
                    Chat with User
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
