<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
      <div class="post_back">
        <div class="container_post">
            <div class="head_post">
                <div class="info_user">
                    <div class="avatar"></div>
                    <div class="name_user">
                        <h4>Username</h4>
                        <h3>@Username</h3>
                    </div>
                </div>
                <button class="follow"><h3>follow</h3></button>
            </div>
            <div class="post_image"></div>
            <div class="action">
                <div class="icon_left">
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                </div>
                <div class="icon"></div>
            </div>
            <div>
                <h2>Загаловок текст</h2>
                <h3>Мы любим животных и стараемся поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев и тёплый кров. Один из проверенных способов это </h3>
            </div>
          </div>
        </div>
</body>
</html>