{% extends "content/base.html" %}

{% load static %}

{% block title %}
    <title>Ribbon</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}


{% block content %}
    <div>

        {% for post in all_posts %}
            <div class="post_back">
                <div class="container_post">
                    <div class="head_post">
                        <div class="info_user">
                            <div class="avatar">
                                
                            </div>
                            <div class="name_user">
                                <h4>{{ post.user.username }}</h4>
                                <h3>@Username</h3>
                            </div>
                        </div>
                        <button class="follow"><h3>follow</h3></button>
                    </div>
                    <div>
                        <h2>{{ post.title }}</h2>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Post Image"style="width: 100%; height: auto;" class="post_image">
                        {% endif %}
                    </div>
                    <div class="action">
                        <div class="icon_left">
                            <div class="icon"></div>
                            <div class="icon"></div>
                            <div class="icon"></div>
                        </div>
                        <div class="icon"></div>
                    </div>
                    <div>
                        <h3>{{ post.content }}</h3>
                    </div>
                  </div>
                </div>
        {% endfor %}

    </div>    
{% endblock content %}


