{% extends "base.html" %}
{% block content %}
<h1>My profile</h1>
<div class=" d-flex flex-row justify-content-between align-items-center mb-4">
    <div class="col-md-3">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <img src="{{ user.profile.avatar.url }}" class="rounded-circle mb-3" alt="User Profile" width="120">
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <p class="text-muted">Web Developer</p>
            <ul>
              <li>
                <a href="{% url 'profile' %} ">My Profile</a>
              </li>
              <li>
                <a href="{% url 'friends' %}">Friends</a>
              </li>
              <li>
                <a href="">Group</a>
              </li>
              <li>
                <a href="{% url 'create_post'%}">CreatePost</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="card shadow-sm">
        <div class="card-body text-center">
            <img id="avatarPreview" src="{{ user.profile.avatar.url }}" alt="Avatar" style="width: 150px; height: 150px; border-radius: 50%;">
            <p>{{ user.first_name }} {{user.last_name}}</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.avatar.label_tag }} 
                <input type="file" id="avatarInput" name="avatar">
                <br>
                <button type="button" id="deleteAvatarButton">Удалить аватарку</button>
                <br>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        </div>
    </div>
</div>
<script>
    const avatarInput = document.getElementById('avatarInput');
    const avatarPreview = document.getElementById('avatarPreview');

    avatarInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            avatarPreview.src = URL.createObjectURL(file);
        }
    });

    const deleteAvatarButton = document.getElementById('deleteAvatarButton');
    deleteAvatarButton.addEventListener('click', () => {
        if (confirm('Вы уверены, что хотите удалить аватарку?')) {
            fetch("{% url 'delete_avatar' %}", { method: 'POST', headers: { 'X-CSRFToken': '{{ csrf_token }}' } })
                .then(response => {
                    if (response.ok) {
                        avatarPreview.src = '/media/avatars/default.jpg'; // Укажите путь к аватарке по умолчанию
                    } else {
                        alert('Не удалось удалить аватарку.');
                    }
                });
        }
    });
</script>
{% endblock %}